<h1>Add a Car!</h1>
<form action="/cars" method="post">
  <label for="new-makeModel">Add a new make model</label>
  <input id="new-makeModel" name="new-makeModel" type="text">
  <label for="new-year">Add a new year</label>
  <input id="new-year" name="new-year" type="text">
  <label for="new-price">Add a new price</label>
  <input id="new-price" name="new-price" type="number">
  <label for="new-miles">Add a new miles</label>
  <input id="new-miles" name="new-miles" type="number">
  <button type="submit">Submit</button>
</form>
