<h1>List of cars:</h1>
<ul>
@foreach(var car in Model)
{
<li>Make: @car.GetMakeModel() | Year: @car.GetYear() | Price: @car.GetPrice() | Miles: @car.GetMiles()</li>
}

</ul>
<a href="/cars/new">Add a new car.</a>
